services:
  - type: web
    name: ppcexpert-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: BREVO_API_KEY
        sync: false
      - key: PORT
        value: 10000
      - key: NODE_ENV
        value: production

